body {
    font-family: Arial;
    text-align: center;
}

.schedule {
    position: relative;
    width: 600px;
    height: 560px;
    margin: auto;
    border: 1px solid #ccc;
}

/* Dienų pavadinimai */
.day {
    position: absolute;
    top: -30px;
    width: 120px;
    text-align: center;
    font-weight: bold;
}

.day:nth-child(1) { left: 0; }
.day:nth-child(2) { left: 120px; }
.day:nth-child(3) { left: 240px; }
.day:nth-child(4) { left: 360px; }
.day:nth-child(5) { left: 480px; }

/* pamokos */
.lesson {
    position: absolute;
    width: 110px;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 12px;
}

/* spalvos */
.istorija { background:#a8a4ff; }
.matematika { background:#f4b183; }
.it { background:#f9f59b; }
.biologija { background:#f28c8c; }
.sportas { background:#8fd19e; }
.lietuviu { background:#ffe599; }
.geografija { background:#c6e0b4; }
.fizika { background:#b4a7d6; }
.kalba { background:#ff9999; }
.modulis { background:#ffd966; }
.projektas { background:#ff66b3; }
.konsultacija { background:#ffcccc; }
